/*Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Renan Oliveira Matos
DATA: 22/05/2023 */
  
/* Estilos para etiquetas em formulários */
form label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilos para campos de seleção e campos de texto em formulários */
  form select,
  form input[type="text"] {
    display: block; 
    margin-bottom: 10px; 
    padding: 5px; 
    width: 100%; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
  }
  
  /* Estilos para botões de envio em formulários */
  form button[type="submit"] {
    padding: 5px 10px; 
    background-color: #007bff; 
    color: #fff;
    border: none; 
    border-radius: 3px; 
    cursor: pointer; 
  }
  
  /* Estilos para tabelas */
  table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px;
  }
  
  table th,
  table td {
    padding: 5px; 
    text-align: left; 
    border: 1px solid #ccc; 
  }
  
  table th {
    background-color: #f7f7f7; 
    font-weight: bold; 
  }
  
  /* Estilos para listas não ordenadas */
  ul {
    list-style: none; 
    margin-bottom: 20px; 
  }
  
  /* Estilos para links */
  a {
    color: #007bff; 
    text-decoration: none; 
  }
  